@model  VCAuthn.IdentityServer.Endpoints.AuthorizationViewModel
@{
    Layout = "_Layout";
    var txtUri = $"{Model.Challenge}"; 
    var qrUri = $"https://chart.googleapis.com/chart?cht=qr&chs=300x300&chld=L|0&chl={Uri.EscapeDataString(Model.Challenge)}";
}
  <div>
    <!-- These fields are used by the script at the bottom of the page -->
    <input id="pollInterval" value="@Model.Interval" style="display: none" />
    <input id="pollUrl" value="@Model.PollUrl" style="display: none" />
    <input id="resolutionUrl" value="@Model.ResolutionUrl" style="display: none" />
  </div>


  <div class="content">

    <div class="introduction">
      <h2>
        Please scan the QR code to initiate the <strong>Verifiable Credential</strong> exchange
      </h2>
    </div>

    <div class="qr-code-display">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 700 400">
        <image id="frame" width="300" height="300" transform="translate(209.5 76)" xlink:href="@qrUri"/>
      </svg>
      <span>
        <a class="qr-url" href="@txtUri">@txtUri</a>
      </span>
    </div>

    <div class="presentation-restrictions">
      <p>
        The credential must meet the following requirements:
      </p>

      <div class="requested-claims">
        @{
          foreach (var item in Model.PresentationRequest.RequestedAttributes)
          {
            <div class="claim-group">
              <span class="claim-name">Claim Name:</span> <span class="claim-value">@item.Value.Name</span>
              <br/>
              <span class="claim-restrictions-title">Claim restrictions:</span>
              <ul class="claim-restriction-list">
                @{
                  foreach (var restriction in item.Value.Restrictions) {
                    if (!String.IsNullOrEmpty(@restriction.IssuerDid)) {
                      @:<li class="restriction-item">Issuer DID: <span class="claim-value">@restriction.IssuerDid</span></li>
                    }
                    if (!String.IsNullOrEmpty(@restriction.SchemaId)) {
                      @:<li class="restriction-item">Schema Id: <span class="claim-value">@restriction.SchemaId</span></li>
                    }
                    if (!String.IsNullOrEmpty(@restriction.SchemaIssuerDid)) {
                      @:<li class="restriction-item">Schema Issuer DID: <span class="claim-value">@restriction.SchemaIssuerDid</span></li>
                    }
                    if (!String.IsNullOrEmpty(@restriction.SchemaName)) {
                      @:<li class="restriction-item">Schema Name: <span class="claim-value">@restriction.SchemaName</span></li>
                    }
                    if (!String.IsNullOrEmpty(@restriction.SchemaVersion)) {
                      @:<li class="restriction-item">Schema Version: <span class="claim-value">@restriction.SchemaVersion</span></li>
                    }
                    if (!String.IsNullOrEmpty(@restriction.CredentialDefinitionId)) {
                      @:<li class="restriction-item">Credential Definition Id: <span class="claim-value">@restriction.CredentialDefinitionId</span></li>
                    }
                  }
                }
              </ul>
            </div>
          }
        }
      </div>
    </div>

  </div>

<style>
  * {
    box-sizing: border-box;
  }
  
  body {
    background: #fff;
    padding: 5px;
    margin: 0;
    border:0;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: slategrey;
    border: 1px solid navy;
    border-radius: 15px;
  }

  .back {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    left:0;
    width: 64px;
    height: 64px;
  }

  .introduction {
    text-align: center;
  }

  .claim-value {
    font-style: italic;
    font-weight: lighter;
  }

  .claim-restriction-list {
    list-style: upper-roman;
  }

  .claim-group:nth-child(n+2) {
    border-top: 1px black dotted;
  }

  .requested-claims {
    background-color: ghostwhite;
    padding: 5px;
  }

  .qr-code-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .qr-url {
    color: navy;
  }

  .presentation-restrictions {
    margin-top: 50px;
  }
</style>

<script type="text/javascript">
    $(document).ready((function poll() {
        setTimeout(function () {
            $.ajax({
                type: 'GET',
                url: document.getElementById('pollUrl').value,
                success: function () {
                    window.location.replace(document.getElementById('resolutionUrl').value);
                },
                error: poll
            });
        }, parseInt(document.getElementById('pollInterval').value, 10));
    })());
</script>